### Composer ###
/vendor

### NPM ###
/node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log

### Compiled assets ###
/public/assets/**/*

### Netflex ###
/store/
/storage/
/config/api.json
/config/watch.json
/config/deploy.json
/config/webpackManifest.json

### Misc ###
.env
.idea
.vscode
.DS_Store
